* {
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
}
*, ::before, ::after {
    box-sizing: border-box;
}
@font-face {
  font-family: OldNewspaperTypes;
  src: url(../fonts/OldNewspaperTypes.ttf) format("truetype");
}
/* --------------------------------- COVER ------------------------*/
#cover {
    background-image: url(../img/cover3bis.jpg);
    background-size: cover;
    background-position: center;
}
.card h2:first-of-type {
    margin-top: 5%;
    color: #797979;
}
#cover p {
	margin: 3vw 30px;
	font-size: 3em;
  color: #555;
  text-align: center;
}
.photo-container {
  background-color: #C9C9C9;
  border-radius: 50%;
  border: 5px solid #C9C9C9;
  display: inline-block;
  transform: translateY(-100px);
  position: absolute;

}
.photo-container img {
  width: 150px;
  border-radius: 50%;
}
.card {
  width: 60%;
  background-color: white;
  margin: 20% 0 10% 0;
  border-radius: 15px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  box-shadow: 0px 0px 5px #999;
}
.card-header {
  width: 100%;
  border-radius: 15px 15px 0px 0px;
  background-color: #5e81ac;
}
.card-footer {
  width: 100%;
  border-radius: 0 0 15px 15px;
  text-align: center;
  margin-top: 5%;
  color: #FFF;
}
.card-footer div:first-child {
  border-radius: 0 0 0 15px;
  width: 33%;
}
.card-footer div:last-child {
  border-radius: 0 0 15px 0;
  width: 33%;
}
.card-footer div {
  font-size: 3em;
  width: 34%;
  background-color: #5e81ac;
  padding: 15px;
}
.card-footer div:hover {
  background-color: #6a8fbb;
  cursor: pointer;
}
.card-header h1 {
  margin: 15% 0 5% 0;
  color: #FFF;
}
/* ----------------------------------SECTION 1 -------------------*/
#section1-before {
    background: linear-gradient(135deg,#ebebeb, #f2f2f2);
}
#section1-before img {
    width: 100%;
    vertical-align: bottom;
    display: table-cell;
    top: 2px;
    position: relative;
}
#cover .button {
  font-size: 4em;
  color: #FFF;
  width: 300px;
  padding: 15px;
  border-radius: 10px;
  background-color: lightcoral;
}
#cover .button:hover {
     animation: heartbeat 1.5s ease-in-out infinite both;
}
#section1 {
    background-color: #244256;
}
#section1 h1 {
    font-size: 6em;
    color:#99d4eb;
    margin-bottom: 1em;
}
#section1-after {
    background-color: floralwhite;
}
#section1-after img {
    width: 100%;
    display: block;
}

.button-container {
    width: 100%;
    text-align: center;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
}
/* --------------------------------- SECTION 2 -------------------*/
#section2 {
    background-color: floralwhite;
    font-size: 1em;
    font-family: OldNewspaperTypes;
}

/* --------------------------------- SECTION 3 ------------------- */
#section3-before {
    background-color: floralwhite;
}
#section3-before img {
    width: 100%;
    display: table-cell;
    vertical-align: bottom;
    top: 2px;
    position: relative;
}
#section3 {
    background-color: #5d81ac;
}
#section3-after {
    background-color: floralwhite;
}
#section3-after img {
    width: 100%;
}
#section3 h2 {
    margin: 20px;
    font-family: 'Open Sans', sans-serif;
    color: #f2f2f2;
}
#section3 h1 {
    text-align: center;
    font-size: 4em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
    color: floralwhite;
    background: url(../img/nuage.svg) center no-repeat;
    line-height: 4em;
    background-size: contain;
}
#section3 h1:before {
    content: "\201C";
    display: inline-block;
    transform: rotate(-15deg);
    font-size: 2em;
}
#section3 h1:after {
    content: "\201D";
    display: inline-block;
    transform: rotate(15deg);
    font-size: 2em;
}
.container-projet {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    
}
.polaroid {
    width: 30%;
    min-width: 300px;
    background-color: #FFF;
    border-radius: 2px;
    box-shadow : 0px 0px 1px #000;
    margin: 5% 0;
}
.polaroid i {
  font-size: 6em;
  color: #f2f2f2;
  width: 1em;
}
.icon-box {
  position: absolute;
  transform: translateY(8vw);
  border-radius: 10px;
  padding: 1em 1em 1em 2em;
}
.polaroid img {
    width: 100%;
    border-radius: 2px;
    transition: all .5s ease;
    cursor: pointer;
    border-bottom: 1px solid#E8E8E8;
    filter: brightness(0.4);
    position: relative;

    
}
.polaroid img:hover {
    transform: scale(1.5);
    filter: brightness(1);
    z-index: 5;
}

.polaroid span {
  font-size: 2.5em;
background-color: #244256;
color:#FFF;
border-radius: 10px;
padding: 10px;
display: inline-block;
margin: 10px 0;
}
.polaroid h3 {
    width: 100%;
    font-size: 4em;
    color: #555;
    text-align: left;
    margin: 0;
    padding: 5%;
    font-family: 'Open Sans', sans-serif;
}
.polaroid p {
    font-size: 3em;
    width: 100%;
    color: #555;
    text-align: left;
    padding: 5%;
}
/* --------------------------------- SECTION 4 --------------------*/
#section4 {
    background-color: floralwhite;
}

/*------------------------------------------------------*\
*					 ==> CONTENT STYLING
\*------------------------------------------------------*/

main {
  font-family: 'Open Sans', sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
h2 {
  font-size: 6em;
  color:#f4f4f4;
  text-align: center;
  font-weight: bolder;
}
.flex {
  display: flex;
}
.column {
  flex-flow: column wrap;
  align-items: center;
}
.row {
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
}
h1 {
  font-size: 6em;
  margin-bottom: 1em;
}
.grey {
  color: #666;
}
.mg-top-3 {
  margin-top: 3em;
}
.container {
    width: 900px;
    margin: 0 auto;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}
.container-lg {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}
.row {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}
.formation {
  border-radius: 15px;
  background-color: white;
  box-shadow: 0 0 4px #999;
  width: 440px;
  text-align: center;
}
.formation h1 {
  margin: 1em 0 1em;
}
.spacebtw {
    justify-content: space-between;
}
.skill {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}
.pastille {
    background-color: rgba(138, 138, 138, 0.3);
    border-radius: 125px;
    height: 180px;
    width: 180px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}
.little-h2 {
    font-size: 25px;
    line-height: 45px;
}

.upper {
    position: fixed;
    right: 20px;
    bottom: 20px;
    font-size: 2em;
    color:#FFF;
    text-shadow: 0 0 1px#999;
    background-color: rgba(0, 0, 0, 0.507);
    border-radius: 20px;
    opacity: 0;
    transition: opacity 1s;
}
.appear {
  opacity: 1;
}


.parallelogramme{
	width:100px;
	height:25px;
  background:#999;
  color: #FFF;
  transform:skew(-30deg);
	-webkit-transform:skew(-30deg);
	-moz-transform:skew(-30deg);
	-o-transform:skew(-30deg);
  margin-left: 20px;
}
.parallelogramme + div {
  font-size: 3em;
  padding: 10px 20px;
  text-align: left;
  color: #444;
}
.date {
  display: inline-block;
  -webkit-transform:skew(30deg);
	-moz-transform:skew(30deg);
	-o-transform:skew(30deg);
  transform:skew(30deg);
  font-size: 3em;
}

#formations {
  position: relative;
  transition: all 1200ms ease-out;
  will-change: all;
}
#xp {
  position: relative;
  transition: all 1200ms ease-out;
  will-change: all;
}

.slideLeft {
  -webkit-transform: translateX(-90%);
  transform: translateX(-90%);
  opacity: 0;
}
.slideRight {
  -webkit-transform: translateX(+90%);
  transform: translateX(+90%);
  opacity: 0;
}	
/* --------------------------------- Progress Bar -----------------*/
.ldBar {
    width: 150px!important;
    height: 130px!important;
}
.ldBar path.mainline {
    stroke-width: 5;
    stroke-linecap: round;

}
.ldBar path.baseline {
    stroke-width: 2;
    stroke: #999;
    stroke-linecap: round;
  }
  .ldBar-label {
    color: #FFF;
    font-family: 'Black Ops One', cursive;
    font-size: 4em;
    font-weight: 600;
  }
/* --------------------------------- FORMULAIRE ------------------ */
.contact-form {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px;
  }
  
  .contact-form .form-block {
      padding: 15px;
      width: 400px;
  }
  .contact-form .input-block {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 25px;
    margin-bottom: 20px;
    color: #808080;
    border-radius: 15px;
    border: 5px dotted rgb(128, 128, 128);
    transition: all 0.5s;
  }
  textarea {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 25px;
    margin-bottom: 20px;
    color: rgb(110, 110, 110);
    border-radius: 15px;
    border: 5px dotted rgb(128, 128, 128);
    width: 370px;
    font-size: 3em;
    transition: all 0.5s;
  }
  .contact-form .input-block.invalid, textarea.invalid {
    border: 5px dotted rgb(235, 129, 129);
  }
  .contact-form .input-block.valid, textarea.valid {
    border: 5px dotted rgb(85, 131, 78);
  }
  .contact-form .input-block input {
    text-align: center;
  }
  .contact-form .input-block input:focus {
    background-color: #fff;
    outline: 0;
    text-align: center;
  }
  
  .contact-form .input-block .form-control {
    background-color: transparent;
    padding: 0;
    border: none;
    box-shadow: none;
    height: 100%;
    width: 100%;
    font-size: 18px;
    color: #333;
  }
  
  .contact-form .square-button {
    background-color: #5e81ac;
    color: #ebebeb;
    font-size: 26px;
    font-weight: 700;
    font-family: 'Open Sans';
    text-align: center;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    padding: 0 40px;
    height: 60px;
    border: none;
    width: 100%;
    cursor: pointer;
    transition: all 0.5s;
  }
  .contact-form .square-button:hover {
    background-color: #87addb;
    color: #ffffff;
    animation: shake-top 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
  }

  /*---------------------------------- ANIMISTA -----------------------------------*/

  .shake-top {
	animation: shake-top 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}
 @keyframes shake-top {
    0%,
    100% {
      transform: rotate(0deg);
      transform-origin: 50% 0;
    }
    10% {
      transform: rotate(1deg);
    }
    20%,
    40%,
    60% {
      transform: rotate(-2deg);
    }
    30%,
    50%,
    70% {
      transform: rotate(2deg);
    }
    80% {
      transform: rotate(-1deg);
    }
    90% {
      transform: rotate(1deg);
    }
  }
  .heartbeat {
    animation: heartbeat 1.5s ease-in-out infinite both;
  }
@keyframes heartbeat {
  from {
    transform: scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out;
  }
  10% {
    transform: scale(0.97);
    animation-timing-function: ease-in;
  }
  17% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
  33% {
    transform: scale(0.95);
    animation-timing-function: ease-in;
  }
  45% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}
@media screen and (min-width: 1650px) {
  .card {
    margin: 20% 0 15% 0;
  }
}
@media screen and (max-width: 650px) {
  .container-lg {
    width: 300px;
  }
}
@media screen and (max-width: 450px) {
.container {
    width: 100vw;
}
.skill {
  width: 50%;
}
#section2 .row {
  flex-flow: column wrap;
  align-content: center;
}
.formation {
  margin: 5% 0px;
  width: 100vw;
}
#section3 h1 {
  font-size: 150%;
}
#section4 h1 {
  font-size: 4em;
}
.card {
  width: 97%;
  margin: 30% 0 10% 0;
}
#cover .button {
  font-size: 4em;
  width: 65vw;
}
.contact-form {
  flex-flow: column wrap;
  padding: 0px;
}
.contact-form .form-block {
  padding: 10px;
  width: 100%;
}
textarea {
  width: 100%;
}

}